<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link text-white" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" href="#">Articles List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" href="#">Tags List </a>
  </li>
</ul>